<div class="container">
    <br>
    <h4>Atualizar - Agendamento de Potenciais Clientes</h4>
    <p>Atualize as informação do agendamento:</p>

    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome: </label>
            <input type="email" class="form-control" id="nome" name="nome" aria-describedby="emailHelp">
        </div>
        
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Telefone: </label>
            <input type="text" class="form-control" id="telefone" name="telefone" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Origem: </label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleciona algumas das opções</option>
                <option value="1">Telefone</option>
                <option value="2">Celular</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Data do contato: </label>
            <input type="date" class="form-control" id="dataContato" name="dataContato" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Observação: </label>
            <textarea class="form-control" id="observacao" name="observacao" rows="3"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>